<!-- H E A D E R 																	  -->
<!-- Please do not change anything in this file - this is the required Western Header -->
  <div id="header">
    <div id="white-bar" >
<!--      <ul id="toolbar" class="horiz-menu" >
        <li><a href="http://www.wwu.edu/academic_calendar">Calendar</a>&nbsp;&nbsp;&#149;</li>
        <li><a href="http://www.wwu.edu/directory">Directory</a>&nbsp;&nbsp;&#149;</li>
        <li><a href="http://www.wwu.edu/index">Index</a>&nbsp;&nbsp;&#149;</li>
        <li><a href="http://www.wwu.edu/campusmaps">Map</a>&nbsp;&nbsp;&#149;</li>
        <li><a href="http://mywestern.wwu.edu">myWestern</a></li>
      </ul>-->
      <ul id="toolbar" class="horiz-menu" >
        <li><a href="http://www.wwu.edu/academic_calendar" tabindex="100">Western Calendar</a></li>
        <li><a href="http://www.wwu.edu/directory" tabindex="101">Directory</a></li>
        <li><a href="http://www.wwu.edu/index" tabindex="102">Index</a></li>
        <li><a href="http://www.wwu.edu/campusmaps" tabindex="103">Map</a></li>
        <li><a href="http://mywestern.wwu.edu" tabindex="104">myWestern</a></li>
      </ul>
    </div><!--white-bar  -->
    <div id="blue-bar">
      <p><span class="tagline">Active Minds Changing Lives</span></p>
      <div id="wwusearch">
        <form class="wwusearchform" method="get" action="http://search2.wwu.edu/texis/search/" >

   	  <div id="wwusearchrow">
            <label class="hide" for="wwusearchfield">Search Terms:</label>
            <input type="text" id="wwusearchfield" name="query" size="17" maxlength="50"
              value="search western" onBlur="if(this.value=='')this.value='search western';"
              onFocus="if(this.value=='search western')this.value='';" />
            <input type="submit" id="wwusearchgo" value="go" />
	  </div>
	  </form>
	</div><!--wwusearch-->
     <!--  </div>tagline-->
    </div><!-- blue-bar -->
    <div id="logo">
      <a href="http://www.wwu.edu">
        <img src="/univrelations/resources/rsv/westernlogo200x124.png" height="124" width="200" alt="Western Washington University"  />
      </a>
    </div><!--logo  -->

  </div><!--header  -->

