/* Customize */


/* Your site's banner image */
header[role="banner"] {
	background-image:url('/univrelations/resources/banner940x89.jpg');
}

/* Uncomment the following to remove the text on top of the site's banner image */
	/*
	@media (min-width: 750px) {
		header[role="banner"] .site-name {
			position:static;
			right:0;
			bottom:0;
			max-height:70px;
			max-width:1020px;
		}
		.site-name div {
			font: 0/0 a;
			text-shadow: none;
			color: transparent;
			width:100%;
			height:100%;
		}
	}
	*/

/* Uncomment the following to change the background color and/or text color of the Media Stream captions */
	/*
	.module-media-stream figcaption {
		background-color:#006b3f;
		color:#fff;
	}

	.module-media-stream figcaption:before {
		border-color:#006b3f transparent;
	}
	*/

/* Uncomment the following line to remove all arrows on Media Stream captions */
	/*
	.module-media-stream figcaption:before {
		border:none;
	}
	*/