<ul class="site-nav">


<!-- Add the site's navigation links below -->

    <li><a href="index.shtml">Index with Sidebar</a></li>
    <li><a href="full-page.shtml">Full Page</a></li>
    <li><a href="#">Columns</a>
        <ul>
            <li><a href="two-column.shtml">Two Column</a></li>
            <li><a href="three-column.shtml">Three Column</a></li>
        </ul>
    </li>
    <li><a href="#">Examples</a>
        <ul>
        	<li><a href="#">Media Examples</a>
            	<ul>
                    <!--<li><a href="gallery.shtml">Gallery</a></li>-->
                    <!--<li><a href="video.shtml">Video</a></li>-->
                    <li><a href="media-stream.shtml">Media Stream</a></li>
                    <li><a href="slideshow.shtml">Slideshow</a></li>
                </ul>
            </li>
            <li><a href="contact.shtml">Contact</a></li>
            <li><a href="staff-faculty.shtml">Staff & Faculty</a></li>
            <!--<li><a href="submission-form.shtml">Submission Form</a></li>-->
            <li><a href="call-out-boxes.shtml">Call-Out Boxes</a></li>
            <li><a href="form.shtml">Example Form</a></li>
            <li><a href="faq-accordion.shtml">FAQ &amp; Accordions</a></li>
            <li><a href="#">Usage</a>
                <ul>
                    <li><a href="typography.shtml">Typography</a></li>
                </ul>
        </ul>
    </li>

</ul>

<aside class="social-media-nav">
    <ul>



    <!-- Adding social media links: Uncomment the section below and add the classname of the social network (Facebook, Twitter, Youtube, Linkedin, GooglePlus, Flickr, Instagram, Tumblr, Foursquare) for the icon to appear. -->


        <li><a href="https://www.facebook.com/westernwashingtonuniversity" class="facebook-icon" alt="Facebook"></a></li>
        <li><a href="https://twitter.com/WWU" class="twitter-icon" alt="Twitter"></a></li>
        <li><a href="https://www.youtube.com/wwu" class="youtube-icon" alt="Youtube"></a></li>



    </ul>
</aside>
