<header role="banner">
    <a href="https://www.wwu.edu" class="western-logo" alt="Western Washington University"></a>
    <a href="/lite-template" class="site-name"><div class="name-container">


    <!-- Your site's title in the banner -->
    <!-- Remove the "class=hide-desktop" class if you are *not* using a title in the banner image -->
    <span class="hide-desktop">University Relations &amp; Marketing</span>


    </div></a>
