    <nav role="navigation" aria-label="University Links, Search, and Navigation">
        <div class="western-quick-links" aria-label="Western Quick Links">
          <button role="button" aria-pressed="false" aria-label="Toggle Quick Links">Toggle Quick Links</button>
          <ul>
            <li><a href="https://www.wwu.edu/academic_calendar" title="Calendar">
            	<span aria-hidden="true">c</span> <span>Calendar</span>
            </a></li>
            <li><a href="https://www.wwu.edu/directory" title="Directory">
            	<span aria-hidden="true">d</span> <span>Directory</span>
            </a></li>
            <li><a href="https://www.wwu.edu/index" title="Index">
            	<span aria-hidden="true">i</span> <span>Index</span>
            </a></li>
            <li><a href="https://www.wwu.edu/campusmaps" title="Map">
            	<span aria-hidden="true">l</span> <span>Map</span>
            </a></li>
            <li><a href="https://mywestern.wwu.edu" title="myWestern">
            	<span aria-hidden="true">w</span> <span>myWestern</span>
            </a></li>
          </ul>
        </div>

        <div class="western-search" role="search" aria-label="University and Site Search">
            <button role="button" aria-pressed="false" aria-label="Open the search box">Open Search</button>
            <div class="western-search-widget">
                <form method="get" action="https://search.wwu.edu/search">
                    <div class="western-search-terms">
                        <label>Enter the terms you wish to search for.</label>
                        <input placeholder="Search this site">
                    </div>
                    <div class="western-search-type-toggle">
                        <input type="checkbox" id="western-search-western">
                        <label for="western-search-western">Search Western</label>
                    </div>
                    <input type="submit" value="Search">

                    <input type="hidden" name="client" value="default_frontend">
                    <input type="hidden" name="output" value="xml_no_dtd">
                    <input type="hidden" name="proxystylesheet" value="default_frontend">
                    <input type="hidden" name="sort" value="date:D:L:d1">
                    <input type="hidden" name="oe" value="UTF-8">
                    <input type="hidden" name="ie" value="UTF-8">
                    <input type="hidden" name="ud" value="1">
                    <input type="hidden" name="exclude_apps" value="1">
                    <input type="hidden" name="filter" value="0"/>

                    <!-- Change the "sharename" to match your search "Collection" name. Contact web.help@wwu.edu for help. -->
                    <input type="hidden" name="site" value="sharename">
                </form>
            </div>
        </div>

        <button class="mobile-main-nav" role="button" aria-pressed="false" aria-label="Open Mobile Main Navigation">Open Main Navigation</button>
    </nav>
</header>
